body{
	background-color: rgb(122, 60, 146);
	font-family: Arial, Helvetica, sans-serif;
}
header{
    max-width:180px;
    margin: 0 auto;
	background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
}
img {
  margin: 10px;
}

.cont {
  background-color:#ffffff;
  max-width: 95%;
  margin: 10px auto;
  padding: 30px 10px 10px 10px;
}

@media screen and (max-width: 480px) {
  img {
    margin: 3px;
  }
  .main {
    padding: 30px 30px 10px 30px;
    border-radius: 0;
  }
}
